
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #6200ea;
  padding: 10px 200px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
  button {
    background: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #6200ea;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    
    &:hover {
      background-color: #ececec;
      transform: scale(1.05);
    }
    
    &:active {
      transform: scale(0.98);
    }
  }
}

app-dashboard, app-products-table {
  margin: 20px;
  padding: 2px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.active-button {
  background-color: #3700b3;
  color: #ffffff;
  pointer-events: none;
}
