<div>
  <h1>Dashboard Chiffre d'Affaires</h1>
 <!-- alert de finacial status -->
 <div class="financial-status">
  <div *ngIf="margin < 0" class="alert alert-negative">
    Alert: Current quarter profit is negative!
  </div>
  
  <div *ngIf="margin > 0 && !isExceptionalMargin" class="alert alert-positive">
    Relax: Current quarter has profit.
  </div>
  
  <div *ngIf="isExceptionalMargin" class="alert alert-celebration">
    Celebration: Current quarter profit is excellent!
  </div>
</div>
  <select [(ngModel)]="selectedCategory" (change)="onCategoryChange($event)">
    @for(category of categories;track category.id){

      <option [ngValue]="category.id">{{ category.name }}</option>
    }
    {{selectedCategory}}
  </select>
  

  <!-- Filtres par période -->
  <label for="timePeriod">Filtrer par période:</label>
  <select id="timePeriod" [(ngModel)]="selectedTimePeriod" (change)="onTimePeriodChange($event)">
    <option value="year">Annuel</option>
    <option value="month">Mensuel</option>
    <option value="week">Hebdomadaire</option>
    <option value="day">Journalier</option>
  </select>

  <!-- Affichage des métriques -->
  <div>
    <h2>Chiffre d'affaires : {{ totalRevenue | currency }}</h2>
    <h2>Coûts : {{ totalCosts | currency }}</h2>
    <h2>Marge : {{ margin | currency }}</h2>
    <h2>Impôt : {{ tax | currency }}</h2>
  </div>


 
</div>


